* {
    /*border: red 3px solid;*/
}

body {
    font-family: 'Abel', sans-serif;
    background-image: url("../img/background1920x1280.jpeg");
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

.jon {
    border-radius: 3rem;
    border: white 3px solid;
}

.titleWrapper h2 {
    display: inline;
    flex-basis: 45%;
}

.btnContainer {
    display: flex;
}

button {
    display: inline-block;
    background: none;
    color: white;
    font-weight: bold;
    border: white 3px solid;
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    border-radius: 3rem;
    font-size: 16px;
}

button:hover {
    background: #3D4244;
}